<div class ="row">
	<div class="col-md-6 mx-auto p-0">
		<div class="card">
<div class="login-box">
	<div class="login-snip">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-space">
			<div class="login">
				<div class="group">
					<label for="user" class="label" >E-mail</label>
					<input id="user" type="text" class="input"  placeholder="Enter your email" [(ngModel)]="username">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" placeholder="Enter your password" [(ngModel)]="password">
				</div>
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign In" (click)="login()">
				</div>
				<div class="hr"></div>
				
			</div>


			<div class="sign-up-form">
				<form (ngSubmit)="register()"  [formGroup]="registerForm"  >
				<div class="form-group">
					<label for="firstname">firstname</label>
					<input id="firstname" class="form-control" formControlName="firstname" type="string" required>
				  </div>
				  <div class="form-group">
					<label for="lastname">lastname</label>
					<input id="lastname" class="form-control" formControlName="lastname"  type="string" required>
				  </div>
				  <div class="form-group">
					<label for="email">email</label>
					<input id="email" class="form-control"formControlName="email" type="string" required>
				  </div>
				  <div class="form-group">
					<label for="numTel">Phone number</label>
					<input id="numTel" class="form-control" formControlName="numTel"  required>
				  </div>
				
				
				  <div class="form-group ">
					<label for="password">password</label>
					<input id="password" class="form-control"  formControlName="password" type="string">
				  </div>
				<div class="group">
					<input type="submit" class="button" value="Sign Up" >
				</div>
				<div class="hr"></div>
				<div class="foot">
					<label for="tab-1">Already Member?</label>
				</div>
			</form>
			</div>

		</div>
	</div>
</div>   
</div>
</div>
</div>
