  <div class="w-75 mx-4 my-4 d-flex text-center ">
    <select [(ngModel)]="sortField" class="form-select mx-2">
      <option value="">--Veuillez selectez l'option de triage--</option>
      <option value="date">Date</option>
      <option value="loyer">Loyer</option>
      <option value="superficie">Superficie</option>
      <option value="nbChambre">Nombre de chambres</option>
    </select>
    <select [(ngModel)]="sortOrder" class="form-select mx-2">
      <option value="">--Veuillez selectez l'option de l'ordre--</option>
      <option value="asc">Ascendant</option>
      <option value="desc">Descendant</option>
    </select>
    <input
      type="text"
      class="form-control mx-4"
      placeholder="search"
      aria-label="Username"
      aria-describedby="basic-addon1"
      [(ngModel)]="term"
    />
    <app-filter [list]="filterList" (onFilterChange)="filterChange($event)">
    </app-filter>
  </div>

  <div class="container text-center shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="row">
      <div
        class="col-md-4 mb-4"
        *ngFor="
          let annonce of pagedItems
            | filter : term
            | sort : (sortField ? sortField : '') : (sortOrder ? sortOrder : '')
        "
      >
        <img [src]="annonce.photos[0]?.pathPhoto" height="250" width="250" class="my-2" />
        <div>superficie : {{ annonce.superficie }} m²</div>
        <div>loyer : {{ annonce.loyer }} TND</div>
        <div>adresse : {{ annonce.adresse }}</div>
        <div>{{ annonce.date | elapsedTime }}</div>

        <button
          [routerLink]="['/annonce', annonce.idAnnonce]"
          type="button"
          class="button btn btn-success my-2"
        >
          voir
        </button>
      </div>
      <div class="d-flex justify-content-center">

      <pagination
        [totalItems]="response.length"
        [(ngModel)]="currentPage"
        [itemsPerPage]="pageSize"
      />
    </div>
  </div>

  </div>
