<div class="container mt-3" *ngIf="isLoggedIn()">
  <h1>Créer une request</h1>
  <form (ngSubmit)="onSubmit()"  [formGroup]="annonceForm"  novalidate>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" class="form-control" formControlName="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="superficie">Superficie (en m²)</label>
      <input id="superficie" class="form-control" formControlName="superficie"  type="number" required>
    </div>
    <div class="form-group">
      <label for="loyer">Loyer (en €)</label>
      <input id="loyer" class="form-control" formControlName="loyer"  required>
    </div>
    <div class="form-group">
      <label for="nbChambre">Nombre de chambres</label>
      <input id="nbChambre" class="form-control" formControlName="nbChambre"  type="number" required>
    </div>
    <div class="form-group">
      <label for="nbPersonne">Nombre de personnes</label>
      <input id="nbPersonne" class="form-control" formControlName="nbPersonne"  type="number" required>
    </div>
    <!-- <div class="form-group form-check">
      <input id="animaux" class="form-check-input" formControlName="animaux" type="checkbox">
      <label class="form-check-label" for="animaux">Animaux autorisés</label>
    </div>
    <div class="form-group form-check">
      <input id="fumeurs" class="form-check-input" formControlName="fumeurs" type="checkbox">
      <label class="form-check-label" for="fumeurs">Fumeurs autorisés</label>
    </div> -->
    <div class="form-group">
      <label for="adresse">Adresse</label>
      <textarea id="adresse" class="form-control" formControlName="adresse"  required></textarea>
    </div>
    <div class="form-group">
      <label for="caution">Caution (en €)</label>
      <input id="caution" class="form-control" formControlName="caution" type="number" required>
    </div>
    
   <button type="submit" class="btn btn-primary">Create Annonce</button>
  </form>
</div>
