form {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
  }
  
  form label {
    font-weight: bold;
  }
  
  form input,
  form textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  form input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 10px;
  }
  
  form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
  }
  
  form button[type="submit"]:hover {
    background-color: #0069d9;
  }
  